@use 'pagesCommon';

.DashboardContainer,
.DbContent {
  @include pagesCommon.PageContainer();
  width: 100%;
}

.DashboardContainer {
  height: calc(100vh - #{pagesCommon.$HeaderHeight});
} //*/

.DbContent {
  height: calc(
    99vh - #{pagesCommon.$HeaderHeight} - #{pagesCommon.$DashMenuHeight}
  );
  flex-direction: column;
  margin-top: calc(#{pagesCommon.$DashMenuHeight} + 3pt);
  overflow-y: auto;
}

// ------------------ COLOR THEMES ------------------ //
:global(.LightMode) {
  .DashboardContainer {
    > button {
      background: #4c3;
    }
  }
}

:global(.DarkMode) {
  .DashboardContainer {
    > button {
      background: #0f7f00;
    }
  }
}
