@use 'fonts-icons';
@use 'pages/styles/pagesCommon';

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
  @include pagesCommon.InitRoot;
  > #root {
    @include pagesCommon.InitRoot;
    overflow: hidden;
  }
}

main {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 0;
  padding-top: #{pagesCommon.$HeaderHeight};
  @include pagesCommon.TransitionGeneral();

  &.LightMode {
    background: pagesCommon.$bgLight;
  }
  &.DarkMode {
    background: pagesCommon.$bgDark;
    color: #ffffff;
  }
}
